@charset "UTF-8";
html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html {
    box-sizing: border-box;
    font-size: 14px;
}

*,
 :after,
 :before {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Gotham, Arial, sans-serif;
}

header {
    background: #000000;
    margin: 0 auto;
    min-width: 1024px;
    clear: both;
    border: 1px solid #d1d1d1;
    color: #d1d1d1;
    text-align: center;
}

form {
    text-align: center;
    display: inline-grid;
    padding: 200px;
}

footer {
    background: #000000;
    padding: 52px;
}

.Imag {
    height: 50px;
}

.nom {
    margin-left: 30px;
}

.co {
    position: relative;
    display: inline-block;
    border: solid;
    background-color: #69563e7a;
}

.co .cotext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 30px;
    left: 50%;
    margin-left: -60px;
}

.co:hover .cotext {
    visibility: visible;
}

.fleche {
    margin-right: 0px;
    padding-right: 45px;
    padding-left: 0px;
    width: 90px;
}