@charset "UTF-8";
html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html {
    box-sizing: border-box;
    font-size: 14px;
}

*,
 :after,
 :before {
    box-sizing: inherit;
}

body {
    margin: 0;
    background: #dad4d4;
    font-family: Gotham, Arial, sans-serif;
}

header {
    background: #000000;
    margin: 0 auto;
    min-width: 1024px;
    clear: both;
    border: 1px solid #d1d1d1;
    color: #d1d1d1;
    text-align: center;
}

form {
    text-align: center;
    display: inline-grid;
    padding: 200px;
}

footer {
    background: #000000;
    padding: 90px;
    margin-top: 30%;
}

.produit {
    height: fit-content;
    display: inline-flex;
    border-bottom: dashed;
    padding-top: 5px;
    padding-bottom: 10px;
}

.img {
    position: absolute;
    height: 15px;
}

.image {
    height: 70px;
    border-radius: 50px;
    margin-bottom: 10px;
}

.desc {
    font-size: x-small;
}

.validation {
    text-align: center;
    height: 35px;
    border: solid;
    font-size: x-large;
}

.commande {
    display: inline-flex;
}

.autre {
    text-align: center;
    height: 35px;
    border: solid;
    font-size: x-large;
    background-color: #dad4d4;
}